<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detalle</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Detalles del vehículo -->
  <ion-grid *ngIf="!mostrarFormulario">
    <ion-row>
      <ion-col>
        <ion-label>Modelo: </ion-label>
        <ion-note>{{ document.vehiculo.modelo }}</ion-note>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Tipo de avería: </ion-label>
        <ion-note>{{ document.vehiculo.averia }}</ion-note>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Botones de Modificar y Borrar -->
  <ion-button *ngIf="!mostrarFormulario" (click)="mostrarFormulario = true">Modificar vehiculo</ion-button>
  <ion-button *ngIf="!mostrarFormulario" (click)="confirmarBorrado()">Borrar vehiculo</ion-button>

  <!-- Formulario de modificación -->
  <div *ngIf="mostrarFormulario">
    <ion-label>Editar Vehiculo</ion-label>
    <ion-input [(ngModel)]="document.vehiculo.modelo"></ion-input>

    <ion-label>Editar Avería</ion-label>
    <ion-input [(ngModel)]="document.vehiculo.averia"></ion-input>

    <ion-button (click)="clickBotonInsertar()">Guardar cambios</ion-button>
  </div>
</ion-content>
