<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detalle</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Detalles del vehículo -->
  <ion-grid *ngIf="!mostrarFormulario">
    <ion-row>
      <ion-col>
        <ion-label>Modelo: </ion-label>
        <ion-note>{{ document.vehiculo.modelo }}</ion-note>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Tipo de avería: </ion-label>
        <ion-note>{{ document.vehiculo.averia }}</ion-note>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Imagen: </ion-label>
        <img
          [src]="document.vehiculo.imagenURL"
          *ngIf="document.vehiculo.imagenURL"
          alt="Imagen del vehículo"
        />
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Botones de Modificar y Borrar -->
  <ion-button color="warning" *ngIf="!mostrarFormulario" (click)="mostrarFormulario = true"
    >Modificar vehiculo</ion-button
  >
  <ion-button color="danger" *ngIf="!mostrarFormulario" (click)="confirmarBorrado()"
    >Borrar vehiculo</ion-button
  >

  <!-- Formulario de modificación -->
  <div *ngIf="mostrarFormulario">
    <ion-label class="subrayado">Editar Vehiculo</ion-label>
    <ion-input [(ngModel)]="document.vehiculo.modelo"></ion-input>

    <ion-label class="subrayado">Editar Avería</ion-label>
    <ion-input [(ngModel)]="document.vehiculo.averia"></ion-input>

    <ion-label class="subrayado">Imagen: </ion-label>
    <img [src]="document.vehiculo.imagenURL" *ngIf="document.vehiculo.imagenURL" alt="Imagen del vehículo">

    <br>
    <!-- Botón para subir imagen -->
    <ion-button (click)="seleccionarImagen()">Subir imagen 
      <ion-icon name="camera-outline"></ion-icon>
    </ion-button>
    <br>
    <!-- Botón para borrar la imagen -->
    <ion-button color="danger" (click)="eliminarImagen()">Borrar imagen
      <ion-icon name="trash-outline"></ion-icon></ion-button>

      <br>
    <ion-button color="success" (click)=" guardarCambios()">Guardar cambios
      <ion-icon name="save-outline"></ion-icon>
    </ion-button>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="share()">
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="informacion">
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label>Información</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="mapa">
        <ion-icon name="map-outline"></ion-icon>
        <ion-label>Mapa</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
