<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> TallerPro </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Taller de vehículos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="mostrarFormulario">
    <ion-label>Titulo</ion-label>
    <ion-input [(ngModel)]="vehiculoEditando.modelo"></ion-input>

    <ion-label>Descripción</ion-label>
    <ion-input [(ngModel)]="vehiculoEditando.averia"></ion-input>

    <ion-button (click)="clickBotonInsertar()">Añadir Vehiculo</ion-button>
  </div>

  <h1>VEHICULOS EN REPARACIÓN</h1>
  <ion-list>
      <ion-item *ngFor="let documentVehiculo of arrayColeccionVehiculos" (click)="selecVehiculo(documentVehiculo.id, documentVehiculo.vehiculo)">
        <ion-grid>
          <ion-row>
            <h2>{{ documentVehiculo.vehiculo.modelo }}</h2>
          </ion-row>
          <ion-row>
            <p>{{ documentVehiculo.vehiculo.averia }}</p>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

  <!-- Añadimos el ion-fab-button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="selecNuevo()" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="top">
  
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="informacion">
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label>Información</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="mapa">
        <ion-icon name="map-outline"></ion-icon>
        <ion-label>Mapa</ion-label>
      </ion-tab-button>
  
  
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
